common-xml/src/test/resources/common-xml-test-model-1.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://bremersee.org/xmlschemas/common-xml-test-model-1" xmlns:tns="http://bremersee.org/xmlschemas/common-xml-test-model-1" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="person" type="tns:personType"/>

  <xs:complexType name="personType">
    <xs:sequence>
      <xs:element name="firstName" type="xs:string" minOccurs="0"/>
      <xs:element name="lastName" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
